:root {
  --sidebarWidth: 225px;
  --bodyTopMargin: 50px;
  --toggleSidebarButtonTopMargin: -50px;
  --experience-item-size: 800px;
  --about-section-left-margin:150px;
}

body {
  font-family: "Lato", sans-serif;
}

/******* SIDE BAR *****/
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  display: block;
}

.sidebar-heading{
  background-color: #979797;
  border-bottom: 1px solid #ddd;
  box-sizing: content-box;
  min-height: 90px;
  padding: 20px 10px 20px;
}

.sidebar-heading h1{
  color: #ffffff;
  font-size: 22px;
}

.sidebar-heading h2{
  color: #e4e011;
  font-size: 16px;
}

.sidebar-items a {
  padding: 8px 8px 4px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
}

.sidebar-items a:hover {
  color: #f1f1f1;
}
/******* END SIDE BAR *****/


/******* BUTTON FOR SIDE BAR *****/

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 10px 15px;
  border: none;
  position: fixed;
  z-index: 1;
  margin-bottom: 40px;
}

.openbtn:hover {
  background-color: #444;
}

/******* END BUTTON FOR SIDE BAR *****/

/******* MAIN *****/
#main {
  transition: margin-left .5s;
  padding: 0px;
}

.main-content {
  margin-top: var(--bodyTopMargin);
}

/******* SECTIONS *****/
.section{
  background-color: #008073 !important;
}

.section-heading{
  font-weight: 400;
  font-size: 30px;
  margin-bottom: 30px;
  margin-top: 30px;
  margin-left: 30px;
  padding-top: -100px;
  padding-bottom: -100px;
  padding: 20px 30px;
  text-transform: uppercase;
  color: white;
}

.first-section{
  margin-top: -50px;
}
/******* END SECTIONS *****/

/******* SECTIONS CONTENT *****/

/*===== ABOUT SECTION ====*/
.content-about{
margin-left: var(--about-section-left-margin);
margin-right: 150px;
}

.about-profile-pic{
  padding-top: 5rem;
  width: 160px;
  height: 160px;
  background-color: white;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: green;
  margin: 10px;
  border: 3px solid blue;
  padding: 10px;
}

.about-profile-img{
  width: 160px;
  height: 160px;
}

.about-header{
  display: flex;
  padding-bottom: 10px;
  padding-top: 10px;
}

.about-header-text{
  margin-bottom: -12.5px;
  padding-left: 5px;
}

.about-header-social-links{
  margin-top: 20px;
  bottom: 0;
}

.about-social-link-icon{
  width: 50px;
  height: 60px;
}

/*===== PROJECTS SECTION ====*/
.bd-grid {
  display: grid;
  grid-template-columns: 100%;
  column-gap: 2rem;
  width: calc(100% - 2rem);
}

#projects{
  color: black;
}

.projects-list-container {
  row-gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
  padding-left: 40px;

}

.projects-content {
  padding: 1.6rem .5rem;
  border: 2px solid whitesmoke;
  border-radius: .5rem;
  text-align: center;
  font-size: 1rem;
  background-image: url('https://i.pinimg.com/originals/ca/76/0b/ca760b70976b52578da88e06973af542.jpg');
}

.projects-icon {
  font-size: 2rem;
  padding: .5rem;
  background-color:white;
  color: red;
  border-radius: 50%;
}

.projects-title {
  font-size: 1.25rem;
  color: wheat;
  margin-bottom: .5rem;
}

.projects-content, .projects-icon, .projects-description, .projects-title {
  transition: .5s;
}

.projects-icon-new {
  width: 50px;
  height: 50px;
  text-align: center;
}
/*===== END PROJECT SECTION ====*/

/*===== SKILLS SECTION ====*/
.skill-list{
  background-color: red;
}

.skill-items{
  display: grid;
  grid-template-columns: 100%;
  column-gap: 0rem;
  width: calc(100% - 2rem);
  grid-template-columns: repeat(10, 0fr);
}

/*===== END SKILLS SECTION ====*/

/*===== EXPERIENCE SECTION ====*/
.experience-section{
  margin-left: auto;
  margin-right: auto;
  width: var(--experience-item-size);
  align-items: center;
}
.experience-header{
  display: flex;
  padding-bottom: 10px;
  padding-top: 10px;
}
.experience-item{
  background-color: royalblue;
}

.experience-icon{
  height: 75px;
  width: 75px;
}
.experience-name{
  padding-left: 20px;
}

.experience-job-title{
  margin-left: auto; 
margin-right: 20px;
}

.experience-line-break{
  padding-top: 4px;
background-color: red;
}

.experience-content-bulletpoints{
  padding-left: 30px;
}

.experience-content-bulletpoints h4{
  display: list-item;         
    list-style-type: disc;       
    list-style-position: inside; 
}

.experience-date{
  background-color: rosybrown;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

/*===== END EXPERIENCE SECTION ====*/



/******* END SECTIONS CONTENT*****/


/******* END MAIN *****/

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}

@media screen and (min-width: 992px) {
  .openbtn {
    display: none;
  }
  .sidebar {
    width: var(--sidebarWidth);
  }
  #main {
    margin-left: var(--sidebarWidth);
  }
}