:root {
  --sidebarWidth: 225px;
  --bodyTopMargin: 50px;
  --toggleSidebarButtonTopMargin: -50px;
  --experience-item-size: 800px;
  --about-section-left-margin: 150px;
  --normal-black-text: rgb(14, 14, 14);
  --sidebar-item-text-color: #333;
  --sidebar-item-text-color-hover: #444;
  --primary-green-teal: rgb(0, 128, 115);
  --sidebar-icons-size: 30px;
  --sidebar-hover-projects-color: rgb(0, 202, 192);
  --sidebar-hover-skills-color: rgb(0, 140, 255);
  --sidebar-hover-experience-color: rgb(183, 0, 255);
  --sidebar-hover-resume-color: rgb(255, 0, 0);
  --sidebar-hover-contact-color: rgb(124, 124, 124);
  --primary-white-color: #fafafa;
  --skills-content-margin: 12px;
  --primary-line-breaker-color: rgb(185, 178, 172);
  --content-margin: 160px
}

/******* MAIN *****/

body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
}

#main {
  transition: margin-left .5s;
  padding: 0px;
  background: url("bg.png") repeat;
  padding-bottom: 300px;
}

.main-content {
  margin-top: var(--bodyTopMargin);
}

/******* SIDE BAR *****/

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--primary-white-color);
  overflow-x: hidden;
  transition: 0.5s;
  display: block;
  box-shadow: 0 10px 15px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  border-left: 1px solid #ddd;
}

.sidebar-heading {
  background-color: #ffffff;
  border-bottom: 1px solid #ddd;
  box-sizing: content-box;
  min-height: 90px;
  padding: 20px 10px 20px;
}

.sidebar-heading h1 {
  color: var(--primary-green-teal);
  font-size: 22px;
  margin-bottom: -10px;
}

.sidebar-heading h2 {
  color: rgb(141, 111, 100);
  font-size: 16px;
}

.sidebar-items-text {
  text-decoration: none;
  font-size: 20px;
  color: var(--sidebar-item-text-color);
  display: block;
  transition: 0.3s;
  font-weight: 300;
  letter-spacing: 0.4;
  text-align: center;
  margin-top: 4px;
  font-size: 1rem;
}

.sidebar-items-item {
  display: grid;
  grid-template-columns: 100%;
  column-gap: 0rem;
  grid-template-columns: repeat(10, 0fr);
  padding-left: 16px;
  text-decoration: none;
}

.sidebar-items-item:hover .sidebar-item-hover-effect {
  margin-left: -16px;
  transition: 0.5s;
}

.sidebar-items-item:hover {
  background-color: rgb(235, 235, 235);
  transition: 0.4s;
}

.sidebar-items-icon {
  width: var(--sidebar-icons-size);
  height: var(--sidebar-icons-size);
  color: red;
  margin-top: 12px;
}

.sidebar-items a {
  text-decoration: none;
}

.sidebar-item-text {
  margin-left: 16px;
}

.sidebar-social-handle {
  position: absolute;
  bottom: 0;
  display: flex;
  padding-left: 50px;
}

.sidebar-social-item {
  padding-left: 4px;
  padding-right: 4px;
}

.about-social-link-icon {
  padding-left: 4px;
  padding-right: 4px;
}

.about-social-link-icon:hover {
  background-color: rgb(196, 255, 242);
  transition: 0.5s;
}

.sidebar-item-hover-effect {
  width: 4px;
  margin-right: 16px;
  margin-left: -20px;
}

.sidebar-hover-about {
  background-color: var(--primary-green-teal);
}

.sidebar-hover-projects {
  background-color: var(--sidebar-hover-projects-color);
}

.sidebar-hover-skills {
  background-color: var(--sidebar-hover-skills-color);
}

.sidebar-hover-experience {
  background-color: var(--sidebar-hover-experience-color);
}

.sidebar-hover-resume {
  background-color: var(--sidebar-hover-resume-color);
}

.sidebar-hover-contact {
  background-color: var(--sidebar-hover-contact-color);
}

/******* END SIDE BAR *****/

/******* BUTTON FOR SIDE BAR *****/

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: rgb(0, 0, 0);
  color: var(--primary-white-color);
  padding: 10px 15px;
  border: none;
  position: fixed;
  z-index: 1;
  margin-bottom: 40px;
}

.openbtn:hover {
  background-color: #444;
}

/******* END BUTTON FOR SIDE BAR *****/

/******* SECTIONS *****/

.section {
  background-color: var(--primary-green-teal) !important;
  box-shadow: 15px 10px 15px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.section-heading {
  font-weight: 200;
  font-size: 2.92rem;
  line-height: 3.212rem;
  margin-bottom: 30px;
  margin-top: 30px;
  margin-left: 30px;
  padding-top: -100px;
  padding-bottom: -100px;
  padding: 20px 30px;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.first-section {
  margin-top: -50px;
}

/******* END SECTIONS *****/

/******* SECTIONS CONTENT *****/

/*===== ABOUT SECTION ====*/

.content-about {
  margin-left: var(--about-section-left-margin);
  margin-right: 150px;
}

.about-profile-pic {
  padding-top: 5rem;
  width: 160px;
  height: 160px;
  background-color: var(--primary-white-color);
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: green;
  margin: 10px;
  border: 3px solid blue;
  padding: 10px;
}

.about-profile-img {
  width: 160px;
  height: 160px;
}

.about-header {
  display: flex;
  padding-bottom: 10px;
  padding-top: 10px;
}

.about-header-text {
  margin-bottom: -12.5px;
  padding-left: 5px;
}

.about-header-social-links {
  margin-top: 20px;
  bottom: 0;
}

.about-social-link-icon {
  width: 50px;
  height: 60px;
}

/*===== PROJECTS SECTION ====*/

.bd-grid {
  display: grid;
  grid-template-columns: 100%;
  column-gap: 2rem;
  width: calc(100% - 2rem);
}

#projects {
  color: black;
}

.projects-list-container {
  row-gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
  padding-left: var(--content-margin);
  padding-right: calc(var(--content-margin) / 2);
}

.projects-content {
  padding: 1.6rem .5rem;
  border: 2px solid whitesmoke;
  border-radius: .5rem;
  text-align: center;
  font-size: 1rem;
  background-image: url('https://i.pinimg.com/originals/ca/76/0b/ca760b70976b52578da88e06973af542.jpg');
}

.projects-icon {
  font-size: 2rem;
  padding: .5rem;
  background-color: white;
  color: red;
  border-radius: 50%;
}

.projects-title {
  font-size: 1.25rem;
  color: wheat;
  margin-bottom: .5rem;
}

.projects-content, .projects-icon, .projects-description, .projects-title {
  transition: .5s;
}

.projects-icon-new {
  width: 50px;
  height: 50px;
  text-align: center;
}

/*===== END PROJECT SECTION ====*/

/*===== SKILLS SECTION ====*/

.skill-list {
  background-color: var(--primary-white-color);
  margin-left: var(--content-margin);
  margin-right: var(--content-margin);
  margin-bottom: 30px;
  padding-bottom: 20px;
  padding-top: 8px;
  box-shadow: 1px 1px 2px 3px rgba(184, 184, 184, 0.65);
}

.skill-breaker {
  padding-bottom: 1px;
  background-color: var(--primary-line-breaker-color);
  margin-left: var(--skills-content-margin);
  margin-right: var(--skills-content-margin);
}

.skill-list-header {
  color: #795548 !important;
  font-weight: 300;
  font-size: 2.28rem;
  line-height: 2.508rem;
  margin-left: var(--skills-content-margin);
  margin-right: var(--skills-content-margin);
}

.skill-item-icon {
  width: 100px;
  height: 100px;
}

.skill-items {
  margin-top: 16px;
  display: grid;
  grid-template-columns: 100%;
  column-gap: 0rem;
  width: calc(100% - 2rem);
  grid-template-columns: repeat(10, 0fr);
  margin-left: calc(var(--skills-content-margin) + 2px);
}

.skill-item{
  margin-left: 12px;
}

.skill-text {
  margin-top: 18px;
  text-align: center;
  color: #333;
  font-size: 16px;
  font-weight: 100;
  line-height: 1.5;
  text-transform: uppercase;
}

/*===== END SKILLS SECTION ====*/

/*===== EXPERIENCE SECTION ====*/

.experience-section {
  margin-left: auto;
  margin-right: auto;
  width: var(--experience-item-size);
  align-items: center;
}

.experience-header {
  display: flex;
  padding-bottom: 10px;
  padding-top: 10px;
}

.experience-item {
  background-color: var(--primary-white-color);
  margin-bottom: 40px;
  box-shadow: 1px 1px 2px 3px rgba(184, 184, 184, 0.65);
  padding-left: 16px;
  padding-right: 16px;
}

.experience-icon {
  height: 75px;
  width: 75px;
}

.experience-name {
  padding-left: 20px;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.experience-job-title {
  margin-left: auto;
  margin-right: 20px;
}

.experience-line-break {
  padding-top: 2px;
  background-color: var(--primary-line-breaker-color);
}

.experience-content-bulletpoints {
  padding-left: 30px;
}

.experience-content-bulletpoints h4 {
  display: list-item;
  list-style-type: disc;
  list-style-position: inside;
}

.experience-date {
  background-color: #ffffff;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: -16px;
  margin-right: -16px;
  border-top: 1px solid #ddd;
}

.experience-date-text{
  margin-left: 12px;
}

/*===== END EXPERIENCE SECTION ====*/

/******* END SECTIONS CONTENT*****/

/******* END MAIN *****/

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}

@media screen and (min-width: 992px) {
  .openbtn {
    display: none;
  }
  .sidebar {
    width: var(--sidebarWidth);
  }
  #main {
    margin-left: var(--sidebarWidth);
  }
}